.res-box {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-evenly;
    overflow: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.res-box::-webkit-scrollbar {
    display: none;
  }